%a(href='{{row.ingredient.product.preferred_source.url}}' rel="nofollow" title='{{row.ingredient.product.preferred_source.name}}' target="_blank" description='' ng-show='row.ingredient.product.preferred_source')
  {{row.ingredient.name}}
%span(ng-show='!row.ingredient.product.preferred_source')
  {{row.ingredient.name}}