%td(ng-repeat = 'column in recipeTreeTableModel.columns()' ng-class="{first: $first, odd: $index % 2 == 0, even: $index % 2 == 1 }" class = '{{column.template}} {{column.name.toSymbol()}}' ng-include="'assets/app/views/ingredients/' + column.template + '.html'" )
