.currency {

  select.currency {
    width: 4.5em;
  }
}

.ingredients {

  margin: 5px;
  padding: 0px;

  form {
    padding: 0px;
    margin: 0px;

    input {
      padding: 0px;
      margin: 0px;
    }
  }

  input.quantity { 
    width: 5em;
  }

  table {

    td {
      padding: 0.5em;
      min-width: 5em;

      &.major, &.macro {
        min-width: 6em;
      }

      &.name {
        min-width: 20em;
      }

      &.breakdown, { 
        font-size: 65%;
      }

      &.unknown, { 
        font-size: 65%;
      }

      &.minor { 
        font-size: 75%;
      }
    }

    th {
      height: 8em;

      &.element-column-cell {
        transform:rotate(80deg);
        -ms-transform:rotate(80deg); /* IE 9 */
        -webkit-transform:rotate(80deg); /* Safari and Chrome */
      
        text-align: right;
      }

      &.breakdown, { 
        font-size: 65%;
      }

      &.unknown, { 
        font-size: 65%;
      }

      &.minor { 
        font-size: 75%;
      }

      &.major, &.macro { 
        font-size: 85%;
      }

    }

    tr.no-quantity {

      .quantity > * {
        display: none;
      }

      .operations > * {
        display: none;
      }

    }

    tr.recipe { 
      border-bottom: 1px solid black;

      td.bad {
        color: rgb(192, 0, 0);
        font-weight: bolder;
      }

      td.good {
      }

      td.warning {
        color: rgb(192, 0, 0);
      }

      span.no-value:after {
        content: 'N/A'
      }
    }

    td.even { 
      background: #f9f9f9;

      &.bad {
        background: #ffe9e9;
      }

      &.good {
        background: #e9ffe9;
      }

      &.warning {
        background: #ffffe9;
      }
    }

    td.odd {

      &.bad {
        background: #fff9f9;
      }

      &.good {
        background: #f9fff9;
      }

      &.warning {
        background: #fffff0;
      }
    
    }

  }

}