.currency {

  select.currency {
    width: 4.5em;
  }
}

.ingredients {

  margin: 5px;

  input.quantity { 
    width: 5em;
  }

  td {
    padding: 0.5em;
  }

  tr.no-quantity {

    .quantity > * {
      display: none;
    }

    .operations > * {
      display: none;
    }

  }

  tr.recipe { 
    border-bottom: 1px solid black;

    td.bad {
      color: rgb(192, 0, 0);
      font-weight: bolder;
    }

    td.good {
    }

    td.warning {
      color: rgb(192, 0, 0);
    }

  }

  th.element-column-cell {
    transform:rotate(80deg);
    -ms-transform:rotate(80deg); /* IE 9 */
    -webkit-transform:rotate(80deg); /* Safari and Chrome */

    text-align: right;
  }

  td.even { 
    background: #f9f9f9;

    &.bad {
      background: #ffe9e9;
    }

    &.good {
      background: #e9ffe9;
    }

    &.warning {
      background: #ffffe9;
    }
  }

  td.odd {

    &.bad {
      background: #fff9f9;
    }

    &.good {
      background: #f9fff9;
    }

    &.warning {
      background: #fffff0;
    }
  
  }

  th {
    height: 8em;
  }

  .breakdown, { 
    font-size: 65%;
  }

  .unknown, { 
    font-size: 65%;
  }

  .minor { 
    font-size: 75%;
  }

  .major { 
    font-size: 85%;
  }

}