#recipe.container-fluid
  .row-fluid
    .span12
      .navbar
        .navbar-inner
          .container-fluid
            %a.btn.btn-navbar{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "#"} Soylent.mk
            .nav-collapse.collapse.navbar-responsive-collapse
              %ul.nav
                %li.active
                  %a{:href => "#/"} Recipe
                %li
                  %a{:href => "#/products"} Products
              %form.navbar-search.pull-right
                %div.currency(ng-show="recipeTreeTableModel")
                  %select.currency(ng-model="recipeTreeTableModel.column_order_and_preferences['Price'].preferred_unit")
                    %option.usd(label='USD' value="USD")
                    %option.aud(label='AUD' value="AUD")
  .row-fluid
    .span12
      .ingredients
        %table
          %tbody
            %tr.ingredient
              %th(ng-repeat= 'column in recipeTreeTableModel.columns()' ng-class="{first: $first, odd: $index % 2 == 0, even: $index % 2 == 1 }" class= '{{column.template}} {{column.name.toSymbol()}} {{column.preferences.column_class}}' ng-show='recipeTreeTableModel.show[column.preferences.column_class]')
                %span.header {{column.title}}      
            %tr.items(ng-repeat = 'row in recipeTreeTableModel.rows()' class='{{row.row_class}} {{row.ingredient.__proto__.constructor.name.toSymbol()}}' ng-include="'assets/app/views/ingredients/tree-table-model.html'" ng-controller='IngredientsTreeModelNodeController')
            %tr.add
              %td &nbsp;
              %td(colspan='{{recipeTreeTableModel.columns().length - 1}}')
                %form(id='add-product' ng-submit='add_product(product_to_add()); selected_product_to_add = null; ')
                  %input(auto-complete ui-items="product_autocomplete" ng-model="selected_product_to_add")
                  %button.btn.btn-mini(type='submit' id='add-product-button' ng-disabled='!product_ready_to_add()')
                    %span.icon-plus

      .well
        .pref
          %input(type='checkbox' ng-model='recipeTreeTableModel.show["macro"]')
            Show macronutrients
        .pref
          %input(type='checkbox' ng-model='recipeTreeTableModel.show["major"]')
            Show major elements
        .pref
          %input(type='checkbox' ng-model='recipeTreeTableModel.show["minor"]')
            Show minor elements
        .pref
          %input(type='checkbox' ng-model='recipeTreeTableModel.show["unknown"]')
            Show elements without recommendation
        .pref
          %input(type='checkbox' ng-model='recipeTreeTableModel.show["breakdown"]')
            Show breakdown
  .row-fluid
    .footer.span12
      .copyright
      &copy; 2013 Tal Rotbart; All rights reserved. 
      .disclaimer
        USE AT YOUR OWN RISK! NO WARRANTY OR GUARANTEES! THIS WEBSITE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS WEBSITE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
